# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Build results
*.class

# Environment files
.env
